<!-- Navigation -->
<img src="assets/images/Structure.png" alt="" class="bg-addon">
<nav class="main-nav">
    <div class="nav-container">
        <div class="logo">
            <img src="assets\images\MITS_Foundation_logo.png" alt="MITS Foundation Logo">
            <img src="assets\images\MITS.png" style="aspect-ratio: 1.04; padding: 2px;" alt="MITS Foundation Logo">
        </div>
        <button class="hamburger">
            <i class="bi bi-list"></i>
        </button>
        <div class="nav-links" id="navLinks">
            <a href="/index.html">Home</a>
            <a href="/about.html">About Us</a>
            <a href="/portfolio.html">Portfolio</a>
            <a href="facilities.html">Facilities</a>
            <a class="contact-btn" href="/contact.html">Contact Us</a>
        </div>
    </div>
</nav>

<!-- Include Bootstrap Icons CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">