:root {
	--primary-color: #245ba6;
	--secondary-color: #f0f7ff;
	--form-bg-color: #fff5f5;
	--text-color: #333;
	--white: #fff;
}

body {
	background-color: var(--white);
	color: var(--text-color);
	line-height: 1.6;
}

.contact-header {
	padding: 3rem;
	max-width: 600px;
	margin: 0 auto;
	text-align: center; /* Center the text */
}

.contact-content {
	display: flex;
	gap: 2rem;
	padding: 2rem 5%;
	width: 92%;
	margin: auto;
	border-radius: 32px;
	background-color: #D6E4F0;
	position: relative;
	overflow: hidden;
}

.contact-content::before {
	content: "";
	position: absolute;
	bottom: -50px;
	left: -50px;
	width: 150px;
	height: 150px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 200'%3E%3Cpath fill='%23E1EBFF' d='M0,0 L100,0 L100,100 L0,100 Z'/%3E%3C/svg%3E");
	opacity: 0.5;
}

.contact-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
}

.fullName-info,
.address-info {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
}

.fullName-info a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 600;
	font-size: 1.1rem;
}

.icon {
	width: 24px;
	height: 24px;
	margin-top: 4px;
}

.address-info div h3 {
	color: var(--primary-color);
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.address-info div p {
	color: #555;
	font-size: 1.1rem;
	line-height: 1.5;
}

.contact-map {
	flex: 1;
	height: 300px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-form {
	margin-top: 80px;
	padding: 4rem 5%;
	padding-bottom: 2rem;
	text-align: center;
	background-color: var(--form-bg-color);
}
.contact-form h1 {
	color: var(--primary-color);
	font-size: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.contact-form h2,
.faqs h2,
.contact-header h2 {
	color: var(--primary-color);
	font-size: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.contact-form > p {
	color: var(--primary-color);
	font-size: 1rem;
	margin-bottom: 2rem;
}

form {
	max-width: 800px;
	margin: 2rem auto;
	text-align: left;
}

.form-row {
	display: flex;
	gap: 2rem;
	/* margin-bottom: 1rem; */
}

.form-group {
	flex: 1;
	margin-bottom: 1.5rem;
	align-items: center;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	color: #444;
	font-size: 1rem;
	font-weight: 500;
}

input,
textarea {
	width: 100%;
	padding: 0.8rem;
	border: 1px solid #e5e5e5;
	border-radius: 8px;
	font-size: 0.85rem;
	background-color: var(--white);
	transition: border-color 0.2s;
}

input:focus,
textarea:focus {
	outline: none;
	border-color: var(--primary-color);
}

textarea {
	height: 150px;
	resize: vertical;
}

.submit-btn {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 0.6rem 3rem;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 1rem;
	transition: transform 0.2s, box-shadow 0.2s;
	box-shadow: 0 2px 4px rgba(36, 91, 166, 0.2);
}

.submit-btn:hover {
	transform: translateY(-1px);
	box-shadow: 0 4px 8px rgba(36, 91, 166, 0.3);
}

@media (max-width: 768px) {
	.nav-links {
		display: none;
	}

	.contact-content {
		flex-direction: column;
	}

	.form-row {
		flex-direction: column;
		gap: 1rem;
	}

	.contact-form h1 {
		color: var(--primary-color);
		font-size: 2rem;
		margin-bottom: 0.5rem;
		font-weight: 600;
	}

	.contact-map {
		height: 250px;
	}

	.contact-info {
		padding: 1rem;
	}
}

@media (max-width: 480px) {
	.contact-header {
		padding: 2rem 1rem;
	}

	.contact-content {
		padding: 1rem;
	}

	.contact-form {
		padding: 2rem 1rem;
	}

	input,
	textarea {
		padding: 0.8rem;
	}

	.submit-btn {
		width: 100%;
		padding: 0.8rem;
	}
}

.faqs {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	margin-inline: auto;
	margin-top: 5rem;
}

.faqs h1 {
	color: var(--primary-color);
	font-size: 2rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

.faqs-container {
	width: 100%;
	margin: 1rem 0;
	padding: 1rem;
	transition: transform 0.2s, box-shadow 0.2s;
}

.faq {
	padding: 0.8rem 2rem;
	cursor: pointer;
	background-color: #d6e4f0;
	border-radius: 40px;
	width: 100%;
	margin-bottom: 1rem;
}

.faq h2 {
	color: var(--primary-color);
	font-size: 1.1rem;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

.faq.active p{
    display: block;
}

.faq p {
	color: gray;
	display: none;
    transition: all 0.3s;
}
