@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Root Variables */
:root {
    --primary-color: #1a4b8c;
    --secondary-color-nav: #fff;
    --text-color: #333;
    --spacing: 2rem;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--secondary-color-nav);
}

/* Navigation Background Addon */
.bg-addon {
    position: absolute;
    top: 0;
    left: 25vw;
    z-index: 1001;
    opacity: 0.3;
    transform: scale(0);
    transform-origin: top;
    animation: moveDown 1s ease-in-out 1s forwards;
}

@keyframes moveDown {
    to {
        transform: scale(0.9);
    }
}

/* Main Navigation */
.main-nav {
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo img {
    height: 100px;
    width: auto;
}


/* Navigation Links */
.nav-links {
    display: flex;
    position: fixed;
    right: 3.5%;
    z-index: 10000;
    background-color: white;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50vh;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.75rem 2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, sans-serif;
    white-space: nowrap;
}

/* Contact Button */
.contact-btn {
    background-color: var(--primary-color);
    color: white !important;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    height: 100%;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 25px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    z-index: 10001;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 11vh;
        right: 10vw;
        background-color: rgba(255, 255, 255, 0.8);
        width: 40%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transform-origin: top right;
        transform: scale(0);
        transition: transform 0.5s ease-in-out;
        border-radius: 20px;
    }

    .nav-links a {
        padding: 10px;
        text-align: center;
        width: 100%;
        border-bottom: #eeecec 0.05rem dotted;
    }

    .nav-links a:last-child {
        border-bottom: none;
    }

    .nav-links.show {
        transform: scale(1);
    }
}

