@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--primary-color: #1a4b8c;
	--secondary-color: #fff;
	--text-color: #333;
	--spacing: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--secondary-color);
}

.bg-addon {
	position: absolute;
	top: 0;
	left: 20vw;
	z-index: 1001;
	opacity: 0.3;
}

/* Hero Section */
.hero {
	display: flex;
	padding: 2rem 0;
	align-items: center;
	min-height: 80vh;
	width: 90%;
	margin: 0 auto;
	margin-top: 5vh;
}

.hero-content {
	/* max-width: 90%; */
	border: 4px solid var(--primary-color);
	margin: 0 auto;
	position: relative;
	border-radius: 15px;
	box-shadow: 0 20px 20px -20px var(--primary-color);
}

.hero h1 {
	color: var(--primary-color);
	font-size: 4rem;
	margin-bottom: 2rem;
	position: absolute;
	z-index: 100;
	background-color: var(--secondary-color);
	padding: 0.5rem;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 15px;
	border-top: 10px solid var(--secondary-color);
	border-left: 10px solid var(--secondary-color);
	border-bottom: 5px solid var(--primary-color);
	border-right: 5px solid var(--primary-color);
	top: -4px;
	left: -4px;
}
.curves {
	position: relative;
}
.hero h1::before {
	position: absolute;
	content: "";
	width: 15px;
	aspect-ratio: 1;
	background: radial-gradient(
		circle at 100% 100%,
		transparent,
		transparent 11.5px,
		var(--primary-color) 11px,
		var(--primary-color) 17px,
		var(--secondary-color) 17px
	);
	/* background-color: red; */
	z-index: 1000;
	top: -10px;
	right: -15px;
}
.hero h1::after {
	position: absolute;
	content: "";
	width: 15px;
	aspect-ratio: 1;
	background: radial-gradient(
		circle at 100% 100%,
		transparent,
		transparent 10.5px,
		var(--primary-color) 10px,
		var(--primary-color) 14.5px,
		var(--secondary-color) 14px
	);
	z-index: 1000;
	bottom: -14px;
	left: -10px;
}

.slider-container {
	position: relative;
	width: 100%;
	height: 70vh;
	border-radius: 10px;
	overflow: visible;
}

.slider {
	height: 100%;
}

.slider img {
	width: 90vw;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: 10px;
}

.slider-controls{
	position: absolute;
	bottom: 0;
	transform: translateY(50%);
	right: 7%;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.slider-controls button {
	/* position: absolute; */
	top: 50%;
	background: var(--primary-color);
	border: none;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1.2rem;
	color: white;
	border-radius: 50vw;
	border: 5px solid var(--secondary-color);
}

.slider-controls i{
	font-size: 30px;
	font-weight: 700;
}

.prev {
	left: 20px;
}

.next {
	right: 20px;
}

/* Vision & Mission */
.vision-mission {
	padding: 4rem 2rem;
	background-color: var(--secondary-color);
	text-align: center;
}

.vision-mission h2 {
	color: var(--primary-color);
	margin-bottom: 3rem;
	font-size: 2rem;
}

.vision-mission-container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.vision-box,
.mission-box {
	display: flex;
	flex-direction: column;
	background: #d6e4f0;
	gap: 2rem;
	padding: 2rem;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.vision-box p,
.mission-box p {
	font-size: 1.2rem;
}

.vision-box {
	flex-direction: column-reverse;
}

.vision-box h3,
.mission-box h3 {
	color: var(--primary-color);
	text-align: end;
	font-size: 2rem;
	/* margin-bottom: 1rem; */
}

/* Thrust Areas */
.thrust-areas {
	padding: 4rem 2rem;
	text-align: center;
	background-color: #fff5f3;
	position: relative;
	overflow: hidden;
}

.thrust-bg-addon {
	position: absolute;
	opacity: 0.3;
}

.addon-1 {
	transform: rotate(90deg);
	right: -5vw;
	top: 70vh;
}

.addon-2 {
	transform: rotate(-90deg);
	left: -5vw;
	top: 15vh;
}

.thrust-areas h2 {
	color: var(--primary-color);
	margin-bottom: 1rem;
	font-size: 2rem;
}

.subtitle {
	margin-bottom: 3rem;
	color: #666;
}

.areas-grid {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.area-card {
	padding: 2rem;
	background: #f7f2f1;
	border-radius: 15px;
	transition: all 200ms ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.area-card:hover {
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.area-card i {
	font-size: 2.5rem;
	color: var(--primary-color);
	margin-bottom: 1rem;
}

.area-card p {
	text-align: left;
	color: #858389;
}

.area-card h3 {
	color: var(--primary-color);
	margin-bottom: 1rem;
	font-family: "Public Sans";
	font-weight: 700;
	font-size: 1.5rem;
}

/* Portfolio */
.portfolio {
	padding: 4rem 2rem;
	background-color: var(--secondary-color);
	text-align: center;
}

.portfolio h2 {
	color: var(--primary-color);
	margin-bottom: 3rem;
	font-size: 2rem;
}

.portfolio-grid {
	max-width: 1200px;
	margin: 0 auto 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	align-items: center;
}

.portfolio-grid img {
	width: 100%;
	height: auto;
	filter: grayscale(100%);
	transition: filter 0.3s;
}

.portfolio-grid img:hover {
	filter: grayscale(0%);
}

.portfolio-dots {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.dot {
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
	cursor: pointer;
}

.dot.active {
	background: var(--primary-color);
}