@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--primary-color: #1a4b8c;
	--secondary-color: #fff;
	--text-color: #333;
	--spacing: 2rem;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--secondary-color);
}

#nav-home {
	color: var(--primary-color);
	font-weight: 700;
	font-size: 1rem;
}
/* Hero Section */
.hero {
	display: flex;
	padding: 1rem 0;
	align-items: center;
	min-height: 80vh;
	width: 90%;
	margin: 0 auto;
}

.hero-content {
	/* max-width: 90%; */
	border: 4px solid var(--primary-color);
	margin: 0 auto;
	position: relative;
	border-radius: 15px;
	box-shadow: 0 20px 20px -20px var(--primary-color);
}

.hero h1 {
	color: var(--primary-color);
	font-size: 4rem;
	margin-bottom: 2rem;
	position: absolute;
	z-index: 100;
	background-color: var(--secondary-color);
	padding: 0.5rem;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 15px;
	border-top: 10px solid var(--secondary-color);
	border-left: 10px solid var(--secondary-color);
	border-bottom: 5px solid var(--primary-color);
	border-right: 5px solid var(--primary-color);
	top: -4px;
	left: -4px;
}

.curves {
	position: relative;
}

.hero h1::before {
	position: absolute;
	content: "";
	width: 15px;
	aspect-ratio: 1;
	background: radial-gradient(
		circle at 100% 100%,
		transparent,
		transparent 11.5px,
		var(--primary-color) 11px,
		var(--primary-color) 17px,
		var(--secondary-color) 17px
	);
	/* background-color: red; */
	z-index: 1000;
	top: -10px;
	right: -15px;
}
.hero h1::after {
	position: absolute;
	content: "";
	width: 15px;
	aspect-ratio: 1;
	background: radial-gradient(
		circle at 100% 100%,
		transparent,
		transparent 10.5px,
		var(--primary-color) 10px,
		var(--primary-color) 14.5px,
		var(--secondary-color) 14px
	);
	z-index: 1000;
	bottom: -14px;
	left: -10px;
}

.slider-container {
	position: relative;
	width: 100%;
	height: 76vh;
	border-radius: 10px;
	overflow: visible;
}

.slider {
	height: 100%;
}

.slider img {
	width: 89.9vw;
	height: 100%;
	display: block;
	object-fit: cover;
	border-radius: 10px;
}

.slider-controls {
	position: absolute;
	bottom: 0;
	transform: translateY(50%);
	right: 7%;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.slider-controls button {
	/* position: absolute; */
	top: 50%;
	background: var(--primary-color);
	border: none;
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1.2rem;
	color: white;
	border-radius: 50vw;
	border: 5px solid var(--secondary-color);
}

.slider-controls i {
	font-size: 30px;
	font-weight: 700;
}

.prev {
	left: 20px;
}

.next {
	right: 20px;
}

/* Vision & Mission */
.vision-mission {
	padding: 4rem 3rem;
	background-color: var(--secondary-color);
	text-align: center;
}

.vision-mission h2 {
	color: var(--primary-color);
	margin-bottom: 3rem;
	font-size: 2.5rem;
}

.vision-mission-container {
	max-width: 1400px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5rem;
}

.vision-box,
.mission-box {
	display: flex;
	flex-direction: column;
	background: #d6e4f0;
	gap: 2rem;
	padding: 2rem 3rem;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.vision-box p,
.mission-box p {
	font-size: 1.2rem;
	opacity: 0;
	transform: scale(0.5);
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.scroll-animate {
	opacity: 1 !important;
	transform: scale(1) !important;
}

.vision-box {
	flex-direction: column-reverse;
}

.vision-box h3,
.mission-box h3 {
	color: var(--primary-color);
	text-align: end;
	font-size: 2rem;
	/* margin-bottom: 1rem; */
}

.vision-box p,
.mission-box p {
	text-align: justify;
}

/* Thrust Areas */
.thrust-areas {
	padding: 4rem 2rem;
	text-align: center;
	background-color: #fff5f3;
	position: relative;
	overflow: hidden;
}

.thrust-bg-addon {
	position: absolute;
	opacity: 0.3;
}

.addon-1 {
	transform: scale(0) rotate(90deg);
	right: -11vw;
	top: 90vh;
	transform-origin: top;
	animation: scale-right 1s ease-in-out 1s forwards;
}

.addon-2 {
	transform: scale(0) rotate(-90deg);
	left: -11vw;
	top: 35vh;
	transform-origin: top;
	animation: scale-left 1s ease-in-out 1s forwards;
}

@keyframes scale-left {
	from {
		transform: scale(0) rotate(-90deg);
	}
	to {
		transform: scale(1) rotate(-90deg);
	}
}
@keyframes scale-right {
	from {
		transform: scale(0) rotate(90deg);
	}
	to {
		transform: scale(1) rotate(90deg);
	}
}

.thrust-areas h2 {
	color: var(--primary-color);
	margin-bottom: 1rem;
	font-size: 2.5rem;
}

.subtitle {
	margin-bottom: 1rem;
	color: #666;
	font-size: 1.1rem;
}

.areas-grid {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;
}

.area-card {
	padding: 2rem;
	/* background: #f7f2f1; */
	border-radius: 15px;
	transition: all 200ms ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.area-card:hover {
	/* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
	cursor: pointer;
}

.area-card i {
	font-size: 2rem;
	color: var(--primary-color);
	margin-bottom: 1rem;
}

.area-card p {
	text-align: left;
	color: #858389;
}

.area-card h3 {
	color: var(--primary-color);
	margin-bottom: 1rem;
	font-family: "Public Sans";
	font-weight: 700;
	font-size: 1.5rem;
	text-align: left;
}

/* Portfolio */
.portfolio {
	padding: 4rem 2rem;
	background-color: var(--secondary-color);
	text-align: center;
}

.portfolio h2 {
	color: var(--primary-color);
	margin-bottom: 3rem;
	font-size: 2.5rem;
	text-decoration: underline;
}

.portfolio-grid {
	max-width: 1200px;
	margin: 0 auto 2rem;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 2rem;
	align-items: center;
}

.portfolio-grid img {
	width: 100%;
	height: auto;
	filter: grayscale(100%);
	transition: filter 0.3s;
}

.portfolio-grid img:hover {
	filter: grayscale(0%);
}

.portfolio-dots {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.dot {
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
	cursor: pointer;
	transform: scale(0.8);
}

.dot.active {
	background: var(--primary-color);
	transform: scale(1.1);
}

@media screen and (max-width: 600px) {
	.hero h1 {
		font-size: 1.8rem;
		padding: 0;
	}

	.hero {
		height: auto;
		min-height: auto;
		padding: 5rem 0 0 0;
	}

	.slider-container {
		aspect-ratio: 16/9 !important;
		height: auto;
	}

	.vision-mission h2 {
		font-size: 1.8rem;
		white-space: nowrap;
	}

	.vision-mission-container {
		grid-template-columns: auto;
		gap: 1rem;
	}

	.vision-box {
		flex-direction: column;
	}

	.vision-box,
	.mission-box {
		padding: 2rem;
		gap: 1rem;
	}

	.vision-box h3,
	.mission-box h3 {
		font-size: 1.5rem;
		text-align: left;
	}

	.vision-box p,
	.mission-box p {
		font-size: 0.8rem;
	}

	.thrust-areas h2{
		font-size: 1.8rem;
	}

	.thrust-areas p{
		font-size: 0.8rem;
	}

	.thrust-areas .areas-grid{
		grid-template-columns: auto;
		gap: 10px;
	}

	.area-card{
		padding: 0.5rem;
		border: 2px solid #e4dfde;
	}

	.area-card h3{
		font-size: 1rem;
	}

	.container-u h2{
		font-size: 1.8rem;
	}

	.content-u{
		min-width: auto !important;
	}

	.event-card-u{
		width: 100%;
	}

	.addon-1, .addon-2{
		display: none;
	}
}
